@import "tailwindcss";

@theme {
  --font-sans:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

body.dark ::-webkit-scrollbar-track {
  background: #2e2e2e;
}

body.dark ::-webkit-scrollbar-thumb {
  background: #555;
}

body.dark ::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::view-transition-old(root) {
  animation: none;
}

::view-transition-new(root) {
  animation: ripple-reveal 0.7s ease-in-out;
  z-index: 9999;
}

@keyframes ripple-reveal {
  from {
    clip-path: circle(0px at var(--ripple-x) var(--ripple-y));
  }

  to {
    clip-path: circle(var(--ripple-radius) at var(--ripple-x) var(--ripple-y));
  }
}
